nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*min-height: 10vh;*/
    font-family: "Poppins", sans-serif;

    &>div#menu {
        color: darkgreen;
        margin: 10px 40px;
        /*padding-left: 40px;*/
        font-size: 1.5rem;
        font-weight: 900;

        &>span {
            font-style: italic;
        }
    }

    li {
        display: inline;
        margin-right: 1vw;
        font-size: 0.8rem;
        font-weight: 700;
    }

    input[type=checkbox] {
        display: none;
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 70%;
    }

    .nav-links li {
        list-style: none;
    }

    .nav-links a {
        color: black;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }

    .burger span {

        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    }

    .burger {
        display: none;
    }

    @media screen and (max-width: 640px) {

        .nav-links {
            display: none;
        }

        .burger {
            display: block;
            cursor: pointer;
        }

        input[type=checkbox]:checked~.nav-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 6vh;
            right: 0;
            background-color: white;
            width: 50%;
            height: 92vw;
            border: $background_dark solid 2px;

            &>li:hover {
                background-color: $background_dark;
                color: white;

            }
        }


    }

}

div#bienvenue {
    background-image: url('../images/rodion-kutsaev.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
    height: 52vw;
    padding-right: 3rem;
    padding-bottom: 4rem;

    &>a {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        &>div {
            color: #D5F31F;
            font-size: 2.5rem;
            margin-top: 0;
            font-weight: bold;

            &:nth-child(1) {
                color: white;
                font-size: 2rem;
                order: -1;
                margin-bottom: 0;
            }
        }


    }

    @media screen and (max-width: 640px) {
        padding-right: 1vh;
        padding-bottom: 2vh;

        &>a {
            &>div {
                font-size: 2rem;

                &:nth-child(1) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}



div#equipe {
    flex-direction: column;
    padding: 3rem 3rem 4.5rem 3rem;

    &>div {
        flex-direction: row;
        justify-content: space-evenly;
    }

    &>div.explanation {
        font-weight: bolder;
        font-size: 1rem;
        color: black;
    }

    &>div.content {
        margin-top: 60px;

        &>div.vignette {
            flex-grow: 4;
            flex-direction: column;
            align-items: center;

            &>div.medaillon {
                flex-direction: column;
                align-items: center;

                &>div.photo {
                    border-radius: 21vw;
                    height: 21vw;
                    width: 21vw;
                    background-size: cover;

                    &#personne1 {
                        background-image: url("../images/image1.jpg");
                    }

                    &#personne2 {
                        background-image: url("../images/image2.jpg");
                        background-repeat: no-repeat;
                        background-size: 32vw;
                        background-position-x: -5vw;
                        background-position-y: -7vw;
                    }

                    &#personne3 {
                        background-image: url("../images/image3.jpg");
                        background-repeat: no-repeat;
                        background-size: 32vw;
                        background-position-x: -5vw;
                        background-position-y: -2vw;

                    }
                }

                &>div.nom {
                    padding-top: 10px;
                    color: black;
                    font-weight: bolder;
                    font-size: 1.4rem;
                }
            }



            &>div.description {
                max-width: 200px;
                font-size: 0.9rem;
            }

        }
    }

    @media screen and (max-width: 640px) {
        padding: 7.5vw 7.5vw 11.25vw 7.5vw;

        &>div {
            width: 100%;
            flex-grow: 12;
            flex-direction: row;
            justify-content: space-evenly;
        }

        &>div.titre {
            padding-bottom: 7.5vw;
        }

        &>div.explanation {
            font-size: 0.9rem;
        }

        &>div.content {
            margin-top: 2vw;
            flex-direction: column;

            &>div.vignette {
                flex-grow: 4;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 5vw;


                &>div.medaillon {
                    flex-direction: column;
                    align-items: center;
                    width: 50%;

                    &>div.photo {
                        border-radius: 11vw;
                        height: 22vw;
                        width: 22vw;
                        background-size: cover;

                        
                        &#personne2 {
                            background-size: 40vw;
                            background-position-x: -8vw;
                            background-position-y: -9vw;
                        }

                        &#personne3 {
                            background-size: 40vw;
                            background-position-x: -8.5vw;
                            background-position-y: -4vw;

                        }
                    }

                    &>div.nom {
                        padding-top: 10px;
                        color: black;
                        font-weight: bolder;
                        font-size: 1.2rem;
                    }
                }



                &>div.description {
                    max-width: 200px;
                    font-size: 0.9rem;
                }

            }
        }
    }
}

div#avis {
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: $background_dark;
    width: auto;
    height: 10vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    &>div.item {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        &>div.compteur {
            color: $yellow;
            font-size: 2.5rem;
            font-weight: 900;
        }

        &>div.categorie {
            //align-content: center; 
            color: white;
        }
    }

    @media screen and (max-width: 640px) {
        padding: 7.5vw 7.5vw 11.25vw 7.5vw;
        background-color: $background_dark;
        width: 100%;
        height: 53vw;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        &>div.item {
            flex-direction: column;
            width: 50%;
            align-items: center;
            height: 17vw;
            flex-wrap: wrap;

            &>div.compteur {
                color: $yellow;
                font-size: 2.5rem;
                font-weight: 900;
            }

            &>div.categorie {
                //align-content: center; 
                color: white;
            }
        }
    }
}

div#services {
    flex-direction: column;
    align-items: center;

    &>div.titre {
        padding-top: 8vw;
        padding-bottom: 8vw;
    }

    &>div.content {
        padding-top: 12vw;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;

        &>div.item {
            flex-direction: column;

            //justify-content: space-between;
            &>div.logo {
                height: 300px;
                width: 300px;
                background-repeat: no-repeat;
                background-position: center;
                background-color: rgba(211, 211, 211, 0.5);
                border-radius: 20px;
                background-blend-mode: multiply;
            }

            &>div.content {
                width: 100%;
                justify-content: center;
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                color: black;
            }

            &>div#logo1 {
                background-image: url("../images/Vector.jpg");

            }

            &>div#logo2 {
                background-image: url("../images/Vector-1.jpg");

            }
        }

    }

    @media screen and (max-width: 640px) {
        padding: 7.5vw 7.5vw 11.25vw 7.5vw;

        &>div.titre {
            padding-top: 0;
            padding-bottom: 7.5vw
        }

        &>div.content {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            padding: 0 5vw;

            &>div.item {
                flex-direction: column;
                width: 30vw;

                //justify-content: space-between;
                &>div.logo {
                    height: 30vw;
                    width: 30vw;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: rgba(211, 211, 211, 0.5);
                    border-radius: 20px;
                    background-blend-mode: multiply;
                }

                &>div.content {
                    width: 100%;
                    justify-content: center;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 900;
                    color: black;
                }

                &>div#logo1 {
                    background-size: 15vw;
                }

                &>div#logo2 {
                    background-size: 15vw;
                }
            }
        }
    }
}

div#contact {
    flex-direction: column;
    align-items: center;
    background-color: $background_dark;
    padding-bottom: 60px;

    &>div.titre {
        color: $yellow;
    }

    &>div.content {
        align-items: center;
        color: white;
        font-size: 1.2rem;
    }

    &>form {
        color: white;
        width: 80%;
        flex-direction: column;
        justify-content: center;

        &>div,
        &>div>div,
        &>div>div>div {
            color: white;
            font-size: .9rem;
        }

        &>div.f-ligne {
            flex-direction: row;
            flex-grow: 10;
            justify-content: space-evenly;

            &>div.f-space {
                width: 5%;
            }

            &>label {
                justify-content: left;
                flex-grow: 1;
            }

            &>input {
                flex-grow: 5;
            }

            &>div.f-col {
                flex-direction: column;
                flex-grow: 5;

                &>div.f-ligne2 {
                    flex-direction: row;
                    flex-grow: 6;
                    border-bottom: white 2px solid;

                    &>label {
                        text-align: left;
                        width: 20%;
                    }

                    &>input {
                        width: 80%;
                    }
                }
            }
        }

        &>div.f-ligne2 {
            flex-direction: row;

            &>label {
                text-align: left;
                width: 10%;
            }

            &>input,
            &>textarea {
                width: 90%;

            }
        }

        &>div.f-ligne2,
        &>div.f-ligne>div.f-col>div.f-ligne2 {
            padding-top: 30px;
            padding-bottom: 3px;
            border-bottom: white 2px solid;

            &>input,
            &>textarea {
                background-color: $background_dark;
                border: 0px $background_dark;

            }

        }

        &>div.f-button {
            padding-top: 30px;
            flex-direction: row;
            justify-content: flex-end;

            &>button {
                background-color: $yellow;
                border: none;
                color: $background_dark;
                padding: 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                font-weight: bolder;
                margin: 4px 2px;
                border-radius: 50px;
                width: 15%;
            }
        }
    }

    @media screen and (max-width: 640px) {
        &>div.titre {
            padding-top: 0;
            padding-bottom: 7.5vw
        }
    }
}

div#a_propos {
    flex-direction: row;
    justify-content: space-evenly;

    &>div.cadre {
        height: 26.5vw;
        width: 40vw;
    }

    &>div.cadre#image {
        background: url("./images/jason-goodman.jpg") no-repeat content-box;
        background-size: cover;
        border-radius: 20px;

    }

    &>div.cadre:not(#image) {
        border: black 1px solid;
        border-radius: 10px;
        flex-direction: column;

        &>div.titre {
            color: black;
            font-size: 1.5rem;
            justify-content: center;
            flex-grow: 0;
        }

        &>div.content {
            color: black;
            font-size: 1rem;
            justify-content: center;
        }

        &>div.cercles {
            flex-direction: row;
            justify-content: space-evenly;

            &>div.item {

                flex-direction: column;
                justify-content: space-evenly;

                &>div.cercle {
                    border: black 3px solid;
                    border-radius: 33px;
                    height: 60px;
                    width: 60px;
                }

            }

            &>div.item:nth-child(1)>div.cercle {
                background-image: url(./images/Vector-2.jpg);
            }

            &>div.item:nth-child(2)>div.cercle {
                background-image: url(./images/Vector-3.jpg);
            }

            &>div.item:nth-child(3)>div.cercle {
                background-image: url(./images/Vector-4.jpg);
            }
        }


    }
}